###############################################################################
## After you launch your environment, set unique values for these properties
## using the EB CLI's 'eb setenv' command, or the software settings screen in
## Configuration menu for your environment in the Elastic Beanstalk management
## console. Settings using these methods will override the values set in this
## file, and will not be visible in your source code.
###############################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    AUTH_KEY: 'test'
    SECURE_AUTH_KEY: 'test'
    LOGGED_IN_KEY: 'test'
    NONCE_KEY: 'test'
    AUTH_SALT: 'test'
    SECURE_AUTH_SALT: 'test'
    NONCE_SALT: 'test'
